<nav>
	<div class="column-1">
			<div class="nav_links">
				<a href="/signup">Sign Up</a>
				<a href="/login">Log In</a>
			</div>
	</div>
</nav>

<header>
<%= image_tag("/header.png", :alt => "Header image") %>
</header>

<div class="column-1">


	<h1>Stop buying gifts the old fashioned way.</h1>

	<h3><span>In just a few clicks, you'll be able to:</span></h3>

	<article class="column-3">
		<%= fa_icon "refresh", class: "fa-2x" %>
		<h2>Quickly buy gifts</h2>
		<p>Typewriter trust fund letterpress flannel bicycle rights Austin fashion axe DIY Echo Park cred. Occupy Intelligentisia artisan.</p>
	</article>
	<article class="column-3">
		<%= fa_icon "heart-o", class: "fa-2x" %>
		<h2>Impress your loved one</h2>
		<p>McSweeney's lomo heirloom, lo-fi synth whatever master cleanse Schiltz before they sold out letterpress. Portland Intelligentsia Blue Bottle. Godard DIY squid irony food truck XOXO.</p>
	</article>
	<article class="column-3">
		<%= fa_icon "close", class: "fa-2x" %>
		<h2>Avoid unfair prices</h2>
		<p>Bicylce rights flannel church-key Truffaut. Tattooed quinoa DIY, single-origin coffee XOXO disrupt twee. Distillery pour-over meh photo booth gluten-free mustache.</p>
	</article>


	<article class="column-3">
		<div class="box">
			<h2>$15<span>/mo</span></h2>
			<h4>Small</h4>
			<p>1 delivery a month</p>
			<a href="/startfree">Start free</a>
		</div>
	</article>

	<article class="column-3">
		<div class="box">
			<h2>$20<span>/mo</span></h2>
			<h4>Medium</h4>
			<p>2 deliveries a month</p>
			<a href="/startfree">Start free</a>
		</div>
	</article>

	<article class="column-3">
		<div class="box">
			<h2>$25<span>/mo</span></h2>
			<h4>Large</h4>
			<p>3 deliveries a month</p>
			<a href="/startfree">Start free</a>
		</div>
	</article>

	<article class="column-1 bottom-box">
		<div class="ribbon-wrap">
   			<div class="ribbon"><span>NEW</span></div>
			<h2>Unlimited</h2>
			<h5>Call for pricing</h5>
		</div>
	</article>
</div>

</div>